<!DOCTYPE html>
<html>
  <head>
    <title>About | Pure C Backend Website</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <header>
      <h1>About</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <h2>Hi, I'm Rostyslav!</h2>
      <h2>Connect with me</h2>
      <ul>
        <li><a href="https://www.linkedin.com/in/rostekus/">LinkedIn</a></li>
        <li><a href="https://github.com/rostekus">GitHub</a></li>
      </ul>
    </main>
    <footer>
    </footer>
  </body>
</html>
